/* styles.css */

/* padding increases the space between the border of a box and the content of the box.

margin increases the space between the borders of a box and the borders of adjacent boxes.

border adds space (even if it’s only a pixel or two) between the margin and the padding. */

* {
    border: 2px solid black;
    padding: 25px;
}

body {
    width: 1250px;
    margin: 0 auto;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
}

img {
    height: auto;
    width: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    font-size: large;
    font-family: sans-serif;
    border-spacing: 50cm;
    display: block;
}

.op {
    padding: 15px;
    border: 10px;
    font-family: sans-serif;
    text-align: center;
}

.homepage {
    font-family: sans-serif;
    padding: 8px;
}

.navbar {
    font-family: sans-serif;
    padding: 10px;
}

.indent {
    padding-left: 10px;
    display: block;
    font-family: sans-serif;
    text-size-adjust: 200%;
}

.indent2 {
    padding-left: 10px;
    display: block;
    font-family: sans-serif;
}

.styled {
    font-family: sans-serif;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

HTML CSSResult Skip Results Iframe EDIT ON div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
    border: 1px solid black;
}

.highlight {
    background-color: yellow;
}

.introduction {
    background-color: #548CA8;
}

.main-content {
    background-color: #476072;
}

.contact-us {
    background-color: #334257;
}

/* flexbox css */
.flex-container {
    display: flex;
    gap: 10px;
    border: 1px solid blue;
}

/* this selector selects all divs inside of .flex-container */
.flex-container {
    /*flex-direction: column;*/
}

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex-direction: column;
    flex: 1;
}

.flex-container .one {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 2;
}