/* styles.css */

div {
    border: 1px solid black;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}

img {
    height: auto;
    width: 50px;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    color: blue;
    font-size: large;
    background-color: white;
    font-family: sans-serif;
    border-spacing: 50cm;
    display: block;
}

.poop {
    padding: 10px;
    background-color: #dddddd;
    font-family: sans-serif;
}

.homepage {
    font-family: sans-serif;
    padding: 10px;
}

.navbar {
    background-color: #dddddd;
    font-family: sans-serif;
    padding: 10px;
}

.indent {
    padding-left: 10px;
    display: block;
    font-family: sans-serif;
}

.indent2 {
    padding-left: 10px;
    display: block;
    font-family: sans-serif;
}